* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%; /* Adjusted max-width */
    margin: 20px auto; /* Added margin for spacing on smaller screens */
}

.profile-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap in smaller screens */
}

.profile-left {
    padding-top: 25px;
    flex: 1 1 250px; /* Allow this section to shrink */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centered vertically */
    align-items: center; /* Centered horizontally */
    background-color: #333;
}

.profile-image {
    text-align: center;
}

.profile-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.edit-profile-btn {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 10px auto; /* Centered with margin */
    cursor: pointer;
    width: 120px;
    border: none;
}

.profile-right {
    flex: 2 1 300px; /* Allow this section to shrink */
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%; /* Full width */
    max-width: 400px; /* Limit max-width */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input::placeholder {
    font-size: medium;
}

.form-buttons {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.cancel-btn, .submit-btn {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
}

.cancel-btn {
    background-color: #990000;
    color: white;
}

.submit-btn {
    background-color: #0044cc;
    color: white;
}

/* Media Queries */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column; /* Stack vertically on smaller screens */
        align-items: center; /* Center items */
    }

    .profile-left, .profile-right {
        width: 100%; /* Full width for each section */
        padding: 15px; /* Reduced padding */
    }

    input[type="text"],
    input[type="email"] {
        width: 90%; /* Slightly smaller width for inputs */
    }

    .form-buttons {
        flex-direction: column; /* Stack buttons vertically */
        align-items: center; /* Center buttons */
    }

    .cancel-btn, .submit-btn {
        margin-right: 0; /* Remove right margin */
        margin-bottom: 10px; /* Add bottom margin */
    }
}
