* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 320px;
}

.logo-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-section img {
    max-width: 200px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.signup-btn {
    background-color: #990000;
    color: white;
    font-size: 16px;
}

.login-btn {
    background-color: #0033A0;
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
}

.or {
    text-align: center;
    margin: 10px 0;
    color: #777;
}

.forgot-password {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #0033A0;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.messageDiv{
    background-color:hsl(327,90%,28%);
    color:white;
    padding:10px 20px;
    margin:10px;
    border-radius: 5px;
    font-size:1rem;
    opacity:0;
    animation:fadeOut 7s forwards;

}